<h1>hello</h1>

<a mat-raised-button href="https://www.google.com/" target="_blank" color="primary">Give Client Feedback
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
</a>
<a mat-raised-button routerLink="feedback" color="primary">Give Application Feedback
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
</a>
<br>
<br>
<h4>Client</h4>
<mat-form-field appearance="fill">
  <mat-label>Clients</mat-label>
  <mat-select>
    <mat-option *ngFor="let client of clients" [value]="client.value">
      {{client.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<br>
<h3>Client Feedback</h3>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Id}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="client">
      <mat-header-cell *matHeaderCellDef> client </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.client}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="created">
      <mat-header-cell *matHeaderCellDef>Created date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.created}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="modified">
      <mat-header-cell *matHeaderCellDef> modified date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.modified}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="feedback">
        <mat-header-cell *matHeaderCellDef> feedbacks </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.feedback}} </mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
